# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/contentModel.xml
/modules.xml
/projectSettingsUpdater.xml
/.idea.ShopPlatform.iml
# Datasource local storage ignored files
/../../../../../../:\FreelanceWork\ShopPlatform\.idea\.idea.ShopPlatform\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
